# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# Environment
.env

# Wheels (offline install)
wheels/

# IDE
.vscode/
.idea/

# SolidWorks temp
~$*.sldprt
~$*.sldasm
~$*.slddrw

# OS
Thumbs.db
Desktop.ini
deploy.sh
OpenSSH-Win64.zip
logs/
